node_modules
.next
dist
out
.env
.env.local
.env.*.local
*.log
.DS_Store
.vercel
.turbo
coverage
.idea
.vscode/*
!.vscode/extensions.json
*.tsbuildinfo
next-env.d.ts
.cache
service-account*.json
.gcp/
